<style>
    #dishes {

    }

    #dishes .breadcrumb {
        background: #fff;
    }

    #dishes .breadcrumb a {
        color: #000;
    }

    .breadcrumb > li + li:before {
        padding: 0;
        font-size: 14px;
    }

    #dishes .breadcrumb li:before {
        color: #000;
    }

    .dis_radio {
        display: block;
        padding: 8px 15px;
    }

    .dis_radio label {
        font-weight: 400;
        display: inline;
        width: 14px;
        height: 14px;
    }

    .dishesList {
        /*min-width: 1200px;*/
    }

    .dis_radio label span {
        vertical-align: bottom;
        letter-spacing: 10px;
    }

    .dishesList .table {
        /*display: inline-block;*/
        /*width: auto;*/
    }

    .dishesList .table .yep_icon {
        color: #FF9900;
        font-weight: bold;
    }

    .dishesList .table th {
        text-align: center;
    }

    .dishesList .table tbody tr:nth-of-type(1) th {
        font-weight: bold;
    }

    .dishesList .table input {
        text-align: center;
        border-color: rgba(0, 0, 0, 0);
        color: #ccc;
    }

    .dishesList .table input:focus {
        border-color: rgba(0, 0, 0, 0);
    }
</style>


<div id="dishes">
    <ol class="breadcrumb">
        <li>吉野家对接</li>
        <li>{{typeName}}</li>
    </ol>
    <!--菜品类型-->
    <div class="btn-group dis_radio">
        菜品类型&nbsp;&nbsp;
        <label ng-repeat="value in vm.values">
            <input type="radio" name="myTestRadio" ng-model="vm.selection"
                   ng-value="value" ng-checked="vm.selection.code == value.code"/><span>{{value.name}}</span>&nbsp;&nbsp;
        </label>
    </div>
    <div class="dishesList">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="yep_icon" colspan="{{table.length}}">优e品</th>
                <th class="yep_icon" colspan="{{table.length}}">吉野家</th>
                <th class="yep_icon">操作</th>
            </tr>
            <tr>
                <th ng-repeat="item in table">{{item}}</th>
                <th ng-repeat="item in table">{{item}}</th>
                <th>
                    <buttom>aaa</buttom>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th ng-repeat="item in table">
                    <input type="text" class="form-control" placeholder="{{searchVal}}" aria-describedby="basic-addon1"
                           ng-model="search[$index]" ng-focus="searchSever($index)"/>
                </th>
                <th ng-repeat="item in table">
                    <input type="text" class="form-control" placeholder="{{searchVal}}" aria-describedby="basic-addon1"
                           ng-model="search[$index]" ng-focus="searchSever($index)"/>
                </th>
            </tr>
            <tr ng-repeat="item in data">
                <th ng-repeat="val in item">{{val}}</th>
                <th ng-repeat="val in item">{{val}}</th>
            </tr>
            </tbody>
        </table>
        <!--<table class="table table-bordered table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th class="yep_icon" colspan="{{table.length}}">优e品</th>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<th ng-repeat="item in table">{{item}}</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<th ng-repeat="item in table">-->
        <!--<input type="text" ng-model="search[$index]" ng-focus="searchSever($index)">-->
        <!--</th>-->
        <!--</tr>-->
        <!--<tr ng-repeat="item in data">-->
        <!--<th ng-repeat="val in item">{{val}}</th>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<table class="table table-bordered table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th class="yep_icon" colspan="{{table.length}}">优e品</th>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<th ng-repeat="item in table">{{item}}</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<th ng-repeat="item in table">-->
        <!--<input type="text" ng-model="search[$index]" ng-focus="searchSever($index)">-->
        <!--</th>-->
        <!--</tr>-->
        <!--<tr ng-repeat="item in data">-->
        <!--<th ng-repeat="val in item">{{val}}</th>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
    </div>
</div>

