<style>
    #dishes {

    }

    #dishes .breadcrumb {
        background: #fff;
    }

    #dishes .breadcrumb a {
        color: #000;
    }

    .breadcrumb > li + li:before {
        padding: 0;
        font-size: 14px;
    }

    #dishes .breadcrumb li:before {
        color: #000;
    }

    .dis_radio {
        display: block;
        padding: 8px 15px;
    }

    .dis_radio label {
        font-weight: 400;
        display: inline;
        width: 14px;
        height: 14px;
    }

    .dishesList {
        /*min-width: 1200px;*/
    }

    .dis_radio label span {
        vertical-align: bottom;
        letter-spacing: 10px;
    }

    .dishesList .table {
        /*display: inline-block;*/
        /*width: auto;*/
    }

    .dishesList .table tr .dis_tabel_search0 {
        width: 90px;
    }

    .dishesList .table tr th:nth-last-child(1) {
        min-width: 200px;
    }

    .dishesList .table tr th {
        min-width: 90px;
        vertical-align: text-bottom;
    }

    .dishesList .table .dis_search input {
        min-width: 70px;
    }

    .dishesList .table .yep_icon {
        color: #FF9900;
        font-weight: bold;
    }

    .dishesList .table .yep_icon:nth-child(2) {
        color: #1eff3e;
    }

    .dishesList .table .yep_icon:nth-child(3) {
        color: #ff4157;
    }

    .dishesList .table th {
        text-align: center;
    }

    .dishesList .table tbody tr:nth-of-type(1) th {
        font-weight: bold;
    }

    .dishesList .table input {
        text-align: center;
        border-color: rgba(0, 0, 0, 0);
        color: #ccc;
    }

    .dishesList .table input:focus {
        border-color: rgba(0, 0, 0, 0);
    }
</style>


<div id="dishes">
    <ol class="breadcrumb">
        <li>吉野家对接</li>
        <li>{{typeName}}</li>
    </ol>
    <!--菜品类型-->
    <div class="btn-group dis_radio">
        菜品类型
        &nbsp;&nbsp;
        <label ng-repeat="value in select.values">
            <input type="radio" name="myTestRadio" ng-model="select.selection"
                   ng-value="value" ng-checked="select.selection.code == value.code"/><span>{{value.name}}</span>
        </label>
        &nbsp;&nbsp;
    </div>
    <div ng-bind-html="box"></div>
    <div class="dishesList">
        <table class="table table-bordered table-hover">
            <!--表头-->
            <thead>
            <tr>
                <th class="yep_icon" ng-repeat="val in table_thead.list" colspan="{{val.colspanNum}}">
                    {{val.name}}
                </th>
                <th class="yep_icon">操作</th>
            </tr>
            <tr>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="val in table_thead.list[0].dataList">
                    {{val}}
                </th>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="val in table_thead.list[1].dataList">
                    {{val}}
                </th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            <!--搜索-->
            <tr>
            <tr>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="(key,val) in search.list">
                    <input ng-model="search.model[key]" ng-if="isSeachIndex($index)" type="text" class="form-control"
                           placeholder="{{search.val}}"/>
                    <span ng-if="!isSeachIndex($index)">-</span>
                </th>
                <th>-</th>
            </tr>
            <tr ng-repeat="item in result.data | filter : search.model">
                <th>{{item.DishId}}</th>
                <th>{{item.DishName}}</th>
                <th ng-if="isSingleProduct">{{item.DishSerial}}</th>
                <th>{{item.PosMenuId==0?null:item.PosMenuId}}</th>
                <th>{{item.PosMenuId==0?null:item.PosMenuName}}</th>
                <th>{{item.PosMenuId==0?null:item.PosMenuName}}</th>
                <th>{{item.PosMenuId==0?null:item.PosTakeAwayPrice}}</th>
                <th>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-repeat="item2 in ['映射','修改','解除']"
                                ng-click="isDis_operating($index,item.id)">{{item2}}
                        </button>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-bind-html="modal.text"></div>