<style>
    #dishes {

    }

    .table th {
        text-align: center;
    }

    .modal_table_input {
        text-align: center;
    }

    #dishes .breadcrumb {
        background: #fff;
    }

    #dishes .breadcrumb a {
        color: #000;
    }

    .breadcrumb > li + li:before {
        padding: 0;
        font-size: 14px;
    }

    #dishes .breadcrumb li:before {
        color: #000;
    }

    .dis_radio {
        display: block;
        padding: 8px 15px;
    }

    .dis_radio label {
        font-weight: 400;
        display: inline;
        width: 14px;
        height: 14px;
    }

    .dishesList {
        /*min-width: 1200px;*/
    }

    .dis_radio label span {
        vertical-align: bottom;
        letter-spacing: 10px;
    }

    .dishesList .table {
        /*display: inline-block;*/
        /*width: auto;*/
    }

    .dishesList .table tr .dis_tabel_search0 {
        width: 90px;
    }

    .dishesList .table tr th:nth-last-child(1) {
        min-width: 200px;
    }

    .dishesList .table tr th {
        min-width: 90px;
        vertical-align: text-bottom;
    }

    .dishesList .table .dis_search input {
        min-width: 70px;
    }

    .dishesList .table .yep_icon {
        color: #FF9900;
        font-weight: bold;
    }

    .dishesList .table .yep_icon:nth-child(2) {
        color: #1eff3e;
    }

    .dishesList .table .yep_icon:nth-child(3) {
        color: #ff4157;
    }

    .dishesList .table tbody tr:nth-of-type(1) th {
        font-weight: bold;
    }

    .dishesList .table input {
        text-align: center;
        border-color: rgba(0, 0, 0, 0);
        color: #ccc;
    }

    .dishesList .table input:focus {
        border-color: rgba(0, 0, 0, 0);
    }

    .modal-dialog {
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    .modal-content {
        margin: auto;
        top: 20px;
        bottom: 20px;
        position: absolute;
        min-width: 600px;
    }

    .modal-body {
        position: static;
    }

    .modal-footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .modal_table_box {
        overflow-y: scroll;
        margin: auto;
        top: 51px;
        bottom: 65px;
        left: 0;
        right: 5px;
        position: absolute;
        padding: 0 15px;
    }

    .modal_table_box tr th:nth-child(1) {
        width: 40px;
    }
    .modal_table_box tr th:nth-child(1) input{

    }
    .modal_table_connet input {
        width: 60px;
    }

    .modal_input_two0 {
        width: 70px;
    }

    .modal_input_two1 {
        width: 200px;
    }
</style>

<div id="dishes">
    <ol class="breadcrumb">
        <li>吉野家对接</li>
        <li>{{typeName}}</li>
    </ol>
    <!--菜品类型-->
    <div class="btn-group dis_radio">
        菜品类型
        &nbsp;&nbsp;
        <label ng-repeat="value in select.values">
            <input type="radio" name="myTestRadio" ng-model="select.selection"
                   ng-value="value" ng-checked="select.selection.code == value.code"/><span>{{value.name}}</span>
        </label>
        &nbsp;&nbsp;
    </div>
    <div ng-bind-html="box"></div>
    <div class="dishesList">
        <table class="table table-bordered table-hover">
            <!--表头-->
            <thead>
            <tr>
                <th class="yep_icon" ng-repeat="val in table_thead.list" colspan="{{val.colspanNum}}">
                    {{val.name}}
                </th>
                <th class="yep_icon">操作</th>
            </tr>
            <tr>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="val in table_thead.list[0].dataList">
                    {{val}}
                </th>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="val in table_thead.list[1].dataList">
                    {{val}}
                </th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            <!--搜索-->
            <tr>
            <tr>
                <th ng-class="'dis_tabel_search'+$index" ng-repeat="(key,val) in search.list">
                    <input ng-model="search.model[key]" ng-if="isSeachIndex($index,4)" type="text" class="form-control"
                           placeholder="{{search.val}}"/>
                    <span ng-if="!isSeachIndex($index,4)">-</span>
                </th>
                <th>-</th>
            </tr>
            <tr ng-repeat="item in result.resultData.Data | filter : search.model ">
                <th>{{item.DishId}}</th>
                <th>{{item.DishName}}</th>
                <th ng-if="isSingleProduct">{{item.DishSerial}}</th>
                <th>{{item.PosMenuId==0?null:item.PosMenuId}}</th>
                <th>{{item.PosMenuId==0?null:item.PosMenuName}}</th>
                <th>{{item.PosMenuId==0?null:("¥"+item.PosEatInPrice)}}</th>
                <th>{{item.PosMenuId==0?null:"¥"+item.PosTakeAwayPrice}}</th>
                <th>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-repeat="item2 in ['映射','修改','解除']"
                                ng-click="OpenModal($index,item.DishUnitId)">{{item2}}
                        </button>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="dis_modal">
    <div ng-show="modal.isOpenModal_show" class="modal fade" ng-class="{'in' : modal.isOpenModal}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" style="display: block" ng-click="modal.stop()">
        <div class="modal-dialog" role="document">
            <div class="modal-content" ng-click="modal.stopEvent($event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.stop()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <!--标题-->
                    <h4 class="modal-title" id="myModalLabel" ng-bind="modal.tilte"></h4>
                </div>
                <div class="modal-body modal_table_box scrollbar">
                    <!--表格-->
                    <!--<div class="modal_table_box scrollbar">-->
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-repeat="val in table_thead.list[1].dataList">
                                {{val}}
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="reset" ng-click="modalRadio.selection = undefined">
                            </th>
                            <th ng-repeat="(key,val) in table_thead.list[1].dataList"
                                ng-class="'modal_input_two'+$index">
                                <input class="modal_table_input form-control" ng-model="modelsearchs[key]"
                                       ng-if="isSeachIndex($index,1)" type="text" placeholder="{{search.val}}"/>
                                <span ng-if="!isSeachIndex($index,1)">-</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="modal_table_connet"
                            ng-repeat="item in modal.modalDataAjax.Data | filter : modelsearchs"
                            ng-click="item.checked = !item.checked">
                            <th>
                                <input ng-show="item.PosEatInPrice==0?false:true"
                                       ng-if="isSingleProduct"
                                       type="radio" ng-model="modalRadio.selection"
                                       ng-value="item.PosMenuNumber"/>
                                <input ng-show="item.PosEatInPrice==0?false:true"
                                       ng-if="!isSingleProduct"
                                       type="checkbox" ng-value="item.PosMenuId"
                                       ng-checked="item.checked">
                            </th>
                            <th ng-class="'modal_input_two0'">{{item.PosMenuId}}</th>
                            <th ng-class="'modal_input_two1'">{{item.PosMenuName}}</th>
                            <th>
                                <input class="modal_table_input" type="text" ng-model="item.PosEatInPrice">
                            </th>
                            <th>
                                <input class="modal_table_input" type="text" ng-model="item.PosTakeAwayPrice">
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="modal.stop()">取消
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade" ng-show="modal.isOpenModal_show" ng-class="{'in' : modal.isOpenModal}"
         ng-click="modal.stop()"></div>
</div>
